{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'translator_image_list' %}">Image Listing</a></p>
<table class="table">
<tr><td>slug</td><td>{{ object.slug }}</td></tr>
<tr><td>created</td><td>{{ object.created }}</td></tr>
<tr><td>last_updated</td><td>{{ object.last_updated }}</td></tr>
<tr><td>cloud_URL</td><td>{{ object.cloud_URL }}</td></tr>
<tr><td>filesize</td><td>{{ object.filesize }}</td></tr>
<tr><td>longitude</td><td>{{ object.longitude }}</td></tr>
<tr><td>latitude</td><td>{{ object.latitude }}</td></tr>
<tr><td>width</td><td>{{ object.width }}</td></tr>
<tr><td>height</td><td>{{ object.height }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit Image</a>

{% endblock %}